@font-face {
    font-family: "PoppinsRegular";
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "PoppinsBold";
    src: url(assets/fonts/Poppins-Bold.ttf);
}

body {
    font-family: "PoppinsRegular";
}

.navbar {
    height: 94px;
}

.header-box-shadow {
    box-shadow: 0px 10px 20px 0px #f8f8f8;
}

.light-background {
    background-color: #dcd8d7;
}

.navy-blue-background {
    background: #0B1643;
}

.color-white {
    color: #ffffff !important;
}

.color-blue-light {
    color: #00FFFF !important;
}

.navbar-collapse {
    flex-grow: 0;
}

.main-color {
    color: #cc0000;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

.header-padding {
    padding-top: 94px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 0px 25px;
}

.nav-item:last-child {
    padding-right: 0px;
}

.nav-link {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover {
    color: #cc0000 !important;
}

.signup-btn {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 120px;
    height: 46px;
    background: #0051FF;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #FCFCFC;

}

.social-bar {
    height: 50px;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    align-items: center;
}

.main-head {
    font-weight: 700;
    font-size: 43px;
    line-height: 60px;
    letter-spacing: 0.03em;
    color: #333333;
    font-family: "PoppinsBold";
}

.blog-main-head {
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #333333;
}

.blog-second-head {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #333333;
}

.blog-basic-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #828282;
}

.blogs-page-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
    gap: 12px;
    height: 40px;
    border: 2px solid #333333;
    border-radius: 38px;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #333333;
    text-decoration: none;
}

.poppins-bold {
    font-family: "PoppinsBold";
}

.main-sub-head {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #333333;
}

.browse-courses-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 60px;
    background: #000000;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    box-shadow: 0px 11.7222px 14.6527px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

.basic-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #333333;
}

.main-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 200%;
    color: #333333;
}

.secondary-color {
    color: #2fbe70;
    font-weight: 600;
}

.landing-image {
    position: absolute;
    right: -85px;
}

.messenger-icon {
    position: absolute;
    right: -44px;
    bottom: 147px;
}

.messenger-background-icon {
    position: absolute;
    right: 0px;
    opacity: 0.2;
}

.messenger-background-icon.left {
    position: absolute;
    left: 0px;
    top: -70px;
    rotate: 180deg;
}

.company-logo-container {
    background: #FFFFFF;
    box-shadow: 0px 1.95844px 21.75px rgba(52, 52, 52, 0.09);
    border-radius: 9.79218px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 147px;
}


.second-head {
    font-weight: 800;
    font-size: 54px;
    line-height: 64px;
    font-family: "PoppinsBold";
    color: #333333;
}

.second-head-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 64px;
    color: #333333;
}

.section-margin {
    margin-top: 50px;
}

.info-container {
    box-shadow: 0px 2px 22px 0px rgb(52 52 52 / 9%);
    padding: 35px 35px 35px 35px;
    border-radius: 9.79218px;
}

.info-container h3 {
    font-weight: 800;
    font-size: 32px;
    line-height: 64px;
    color: #333333;
    font-family: "PoppinsBold";
    text-align: center;
}

.money-back-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background: rgba(0, 255, 255, 0.12);
    box-shadow: 0px 4px 24px rgba(199, 255, 252, 0.15);
    border-radius: 30px;
    height: 450px;
}

.money-back-container p {
    font-weight: 600;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
    color: #333333;
}

.news-letter-container {
    background: rgba(0, 255, 255, 0.2);
    border-radius: 30px;
    padding: 38px 86px 51px 86px;
}

.news-letter-container h3 {
    font-weight: 700;
    font-size: 53px;
    line-height: 70px;
    letter-spacing: -0.02em;
    color: #0B1643;
}

.news-letter-container p {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #333333;
}

.news-letter-container input {
    height: 52px;
}

.news-letter-container .signup-btn {
    background: #0051FF;
    border-radius: 5px;
    height: 52px;
    width: 120px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding: 0px 20px;
    color: #FFFFFF;
}

.form-check-input:checked {
    background-color: #27AE60;
    border-color: #27AE60;
}

.primary-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    background: rgba(0, 255, 255, 0.1);
    border-radius: 30px;
}

.secondary-plan {
    background: rgba(0, 81, 255, 0.1);
}

.plan-head {
    font-weight: 700;
    font-size: 32px;
    line-height: 70px;
    letter-spacing: -0.02em;
    color: #0051FF;
}

.dollar-price {
    font-weight: 700;
    font-size: 93.1286px;
    line-height: 123px;
    letter-spacing: -0.02em;
    color: #0B1643;
    display: flex;
    align-items: end;
}

.per-month {
    font-size: 42.17px;
    margin-left: 10px;
    line-height: 100px;
}

.limit-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.primary-plan button {
    background: #0B1643;
    border-radius: 5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    height: 76px;
    border: 0px;
}

.basic-text-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    font-family: "PoppinsBold";
}

.credit-features-container {
    background: #F3F3F3;
    border-radius: 30px;
    padding: 51px 86px 51px 86px;
}

.secondary-plan button {
    background-color: #0051FF !important;
}

.italic-font {
    font-style: italic;
}

.third-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #333333;
}

.four-head {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.carousel-img-height {
    height: 240px;
}

.accordion-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #1B1C31;
}

.category-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.category-image-container:first-child {
    margin-left: 0px;
}

.category-image-container {
    width: 26.8%;
    margin-left: 40px;
}

.training-container {
    display: flex;
    width: 90%;
    background: #FCFCFC;
    box-shadow: 0px 5.05174px 8.41957px rgba(0, 0, 0, 0.04);
    border-radius: 13px;
}

.training-container .status {
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.631468px;
    color: #0051FF;
}

.training-container .course-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.631468px;
    color: #000000;
}

.training-container .details {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.631468px;
    color: #000000;
}

.training-container i {
    color: #ccc;
}

.training-container img {
    border-radius: 13px 0px 0px 13px;
}



.popular-courses-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    background: #FCFCFC;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.04);
    border-radius: 24px;
}

.popular-courses-container .status {
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.631468px;
    color: #0051FF;
}

.popular-courses-container .status.online {
    color: #2F80ED;
}

.popular-courses-container .course-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.631468px;
    color: #000000;
}

.popular-courses-container .details {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.631468px;
    color: #000000;
}

.popular-courses-container i {
    color: #ccc;
}

.popular-courses-container img {
    border-radius: 24px 24px 0px 0px;
}

.light-green-background {
    background: #DDEEE9;
}

.training-card {
    background: #FFFFFF;
    box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 34px 31px 45px 39px;
    height: 680px;
}

.microscope-image {
    position: absolute;
    right: -40px;
    top: -20px;
}

.get-training-head {
    font-weight: 500;
    font-size: 24px;
    line-height: 200%;
    color: #0051FF;
}

.training-section-height {
    height: 980px;
}

.font-16 {
    font-size: 16px !important;
}

.customer-review-section {
    padding-top: 370px;
}

.review-container {
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgb(17 17 17 / 4%);
    border-radius: 32px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 24px;
    width: 90%;
}

.quote-img {
    position: absolute;
    top: -35px;
    left: -35px;
}

.review-container p {
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
    color: #333333;
}

.user-name {
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #cc0000;
}

.user-id {
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #333333;
}

.contact-head {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #333333;
}

.contact-sub-head {
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #333333;
}

.courses-input {
    height: 72px;
    background: #DDEEE9;
    border-radius: 16px;
    border: 0px;
}

.courses-input input {
    border: 0px;
    background: transparent;
    padding-left: 30px;
}

.courses-input input:focus {
    background: transparent;
}

.courses-input span {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 60px;
    height: 56px;
    background: #0051FF;
    border-radius: 17px !important;
    margin: 8px 6px 8px 6px;
    color: #fff;
}

.dropdown-btn-style {
    background: transparent;
    color: #333;
    border: 2px solid #F1F5F8;
    border-radius: 8px;
}

.training-header-img {
    width: 100%;
    height: auto;
}

.training-main-head {
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    position: absolute;
    top: -230px;
}

.add-to-cart-container {
    background: #FFFFFF;
    border: 1px solid #DDEEE9;
    box-shadow: 0px 11.7222px 14.6527px rgba(0, 0, 0, 0.04);
    border-radius: 17px;
    position: absolute;
    padding: 25px 34px 33px 34px;
    width: 100%;
    z-index: 1;
    top: -200px;
}

.add-to-cart-container .head {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.add-to-cart-container .text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #333333;
}

.counter-container {
    padding: 12px 22px;
    gap: 12px;
    width: 165px;
    height: 46px;
    border: 2px solid #F1F5F8;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.add-btn {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 180px;
    background: #0051FF;
    border-radius: 8px;
    color: #fff;
    height: 58px;
}

.required-icon {
    color: red;
    font-size: 12px;
}

.detail-container h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #333333;
    margin-top: 65px;
}

.detail-container p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    margin-top: 20px;
}

.detail-container ul {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    margin-top: 20px;
}

.services-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 64px;
    color: #0051FF;
}

.customer-review-section .contact-head {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: left;
    margin-top: 20px;
}

.customer-review-section .contact-sub-head {
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
    color: #333333;
    text-align: left;
    padding: 0px 50px 0px 0px;
}

.customer-review-section .img-container {
    width: 92px;
    height: 92px;
}

.color-black {
    color: #333333;
}

.total-cart-container {
    background: #FFFFFF;
    border: 1px solid #DDEEE9;
    box-shadow: 0px 11.7222px 14.6527px rgba(0, 0, 0, 0.04);
    border-radius: 11px;
    width: 80%;
}

.total-cart-container .li {
    padding: 31px 31px 31px 31px;
    border-bottom: 1px solid #DDEEE9;
}

.total-cart-container .li:last-child {
    border-bottom: 0;
}

.total-cart-container .head {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.total-cart-container .text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-top: #FFFFFF;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
    border-bottom: 3px solid #0D9737;
}

.input-height {
    height: 52px;
}

.skip-over {
    position: absolute;
    right: 25px;
    bottom: 121px;
}

.width-100 {
    width: 100%;
}

.scrollbox {
    overflow-x: scroll;
}

.scrollbox::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
}

.scrollbox:hover::-webkit-scrollbar {
    width: 4px;
}

.scrollbox:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
}

@media (hover: none) {
    .scrollbox::-webkit-scrollbar {
        width: 4px;
    }

    .scrollbox::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .2);
    }
}

textarea.form-control {
    height: 200px !important;
}

input.form-control {
    height: 50px !important;
}

.browse-courses-btn.small {
    width: 100px;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    box-shadow: none;
    border: none;
    background-color: #cc0000 !important;
}

.primary-footer {
    padding: 50px;
    background: #F1F5F8;
}

.secondary-footer {
    padding: 50px;
    background: #0B1643;
}

.footer-main-head {
    font-style: normal;
    font-weight: 500;
    font-size: 53px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    font-family: "PoppinsBold";
}

.get-started-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 22px;
    gap: 12px;
    width: 226px;
    height: 46px;
    background: #0051FF;
    border-radius: 8px;
    color: #ffffff;
    border: 0px;
}

.primary-color {
    color: #0051FF;
}

.footer-input {
    height: 52px;
    padding-right: 100px;
}

.footer-input span {
    width: 134px;
    height: 52px;
    display: flex;
    justify-content: center;
    background: #0051FF;
    color: #fff;
}

.footer-links {
    padding-left: 40px;
}

.footer-links .headings {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-links .links a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF !important;
    text-decoration: none;
}

.copy-right-section {
    background: #0B1643;
    padding: 40px 0px;
}

.copy-right-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.mobile-display-none {
    display: none;
}

.carousel-indicators {
    bottom: -40px !important;
}

.carousel-indicators button {
    width: 10px !important;
    height: 11px !important;
    border: 1px solid #ccc !important;
    background-color: #0051FF !important;
    border-radius: 50% !important;
}


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .desktop-display-none {
        display: none;
    }

    .mobile-display-none {
        display: block;
        height: 100vh;
    }

    .main-head {
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        /* or 36px */

        text-align: center;
        letter-spacing: 0.03em;
    }

    .landing-image {
        position: relative;
        right: 0px;
    }

    .browse-courses-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        background: #0051FF;
        box-shadow: 0px 6.04306px 7.55383px rgba(0, 0, 0, 0.04);
        border-radius: 4.12419px;
        font-weight: 500;
        font-size: 15px;
        line-height: 11px;
        letter-spacing: 0.128881px;

        /* White */

        color: #FFFFFF;
    }

    .info-container h3 {
        font-size: 18px;
    }

    .second-head {
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
    }

    .money-back-container {
        height: auto;
    }

    .second-head-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 33px;
    }

    .section-margin {
        margin-top: 20px;
    }

    .overflow-x-scroll {
        overflow-x: scroll;
    }

    .category-image-container {
        width: 50%;
        margin-left: 0px;
    }

    .third-head {
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        /* identical to box height, or 27px */

        letter-spacing: 0.03em;
    }

    .training-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #FCFCFC;
        box-shadow: 0px 5.05174px 8.41957px rgba(0, 0, 0, 0.04);
        border-radius: 13px;
    }

    .training-container img {
        border-radius: 13px 13px 0px 0px;
        width: 100%;
    }

    .microscope-image {
        position: relative;
        right: 0px;
        top: 0px;
    }

    .training-card {
        height: auto;
    }

    .customer-review-section {
        padding-top: 600px;
    }

    .review-container {
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgb(17 17 17 / 4%);
        border-radius: 32px;
        margin-bottom: 5px;
        padding: 24px;
        width: 100%;
    }

    .popular-courses-container {
        width: 100%;
    }

    .primary-footer {
        padding: 50px 0px;
        background: #F1F5F8;
    }

    .secondary-footer {
        padding: 0px;
        background: #0B1643;
        padding-bottom: 30px;
    }

    .footer-main-head {
        margin-top: 20px;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        /* or 144% */

        text-align: center;

    }

    .plan-head {
        font-weight: 700;
        font-size: 20.0296px;
        line-height: 44px;
    }

    .dollar-price {
        font-weight: 700;
        font-size: 58.2916px;
        line-height: 77px;
    }

    .per-month {
        font-size: 26.4px;
        line-height: 65px;
    }

    .get-started-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 22px;
        gap: 12px;
        width: 100%;
        height: 46px;
        background: #0051FF;
        border-radius: 8px;
        color: #ffffff;
        border: 0px;
    }

    .blog-second-head {
        font-size: 20px;
    }

    .news-letter-container {
        padding: 30px 15px;
    }

    .news-letter-container h3 {
        font-size: 32px;
    }

    .news-letter-container p {
        font-size: 16px;
    }

    .primary-color {
        color: #0051FF;
    }

    .credit-features-container {
        padding: 15px;
    }

    .footer-input {
        height: 52px;
        padding-right: 0px;
    }

    .footer-input span {
        width: 134px;
        height: 52px;
        display: flex;
        justify-content: center;
        background: #0051FF;
        color: #fff;
    }

    .footer-links {
        padding-left: 0px;
    }

    .footer-links .headings {
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 24px;
        color: #FFFFFF;
        margin-top: 50px;
    }

    .footer-links .links a {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF !important;
        text-decoration: none;
    }

    .add-to-cart-container {
        position: relative;
        top: -200px;
    }

    .training-main-head {
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        /* identical to box height, or 36px */

        text-align: center;
        letter-spacing: 0.03em;
        position: relative;
        top: -180px;
    }

    .detail-container {
        position: relative;
        top: -180px;
    }


    .navbar-collapse {
        background-color: #fff;
        z-index: 2;
    }

    .copy-right-section {
        background-color: #0B1643;
    }

    .social-bar {
        display: none;
    }

    .detail-container h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    .detail-container p {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
    }

    .detail-container ul {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
    }

    .customer-review-section {
        padding-top: 100px;
    }

    .customer-review-section .contact-sub-head {
        text-align: center;
        padding: 0px 0px 0px 0px;
    }

    .total-cart-container {
        width: 100%;
    }

    .nav-item {
        padding: 10px 10px;
    }

    .add-btn {
        height: 40px;
        margin-bottom: 30px;
    }

    .skip-over {
        bottom: 108px;
        font-size: 11px;
    }
}