@font-face {
    font-family: "PoppinsRegular";
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "PoppinsBold";
    src: url(assets/fonts/Poppins-Bold.ttf);
}

body {
    font-family: "PoppinsRegular";
}

.background-image {
    background-image: url(assets/images/hero-image.png);
    height: 700px;
}

.main-color {
    color: #cc0000 !important;
}

.error-message {
    color: red;
    font-size: 12px;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

.main-head {
    font-weight: 700;
    font-size: 43px;
    line-height: 60px;
    letter-spacing: 0.03em;
    color: #333333;
    font-family: "PoppinsBold";
    text-align: center;
}

.story-container {
    background-color: #169b;
    padding: 30px 50px;
    border: 2px solid #1269ba;
    border-radius: 20px;
}

.call-section {
    background-color: #eeeeee;
}

.red-container {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0.03em;
    color: #cc0000;
    font-family: "PoppinsBold";
    text-align: center;
    padding: 15px 30px;
}

.main-head-hero {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-family: "PoppinsBold";
    text-align: center;
}

.main-sub-head {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #333333;
}

.main-text {
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    line-height: 200%;
    color: #333333;
}

.secondary-color {
    color: #2fbe70;
    font-weight: 600;
}

.section-margin {
    margin-top: 50px;
}

.review-container {
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgb(17 17 17 / 4%);
    border-radius: 32px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 24px;
    width: 90%;
}

.quote-img {
    position: absolute;
    top: -35px;
    left: -35px;
}

.review-container p {
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
    color: #333333;
}

.user-name {
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: red;
}

.user-id {
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #333333;
}

textarea.form-control {
    height: 150px !important;
}

input.form-control {
    height: 40px !important;
}

.secondary-footer {
    padding: 50px;
    background: #eeeeee;
}

.primary-color {
    color: #cc0000;
}

.footer-links {
    padding-left: 40px;
}

.footer-links .links a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000 !important;
    text-decoration: none;
}

.submit-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.contact-links {
    display: flex;
    justify-content: start;
    align-items: center;
}

.contact-links a {
    color: #cc0000;
    text-decoration: none;
    font-size: 24px;
}

.required-asterik {
    color: #cc0000;
    margin-left: 5px;
}


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .background-image {
        margin-top: 60px;
        margin-bottom: 60px;
        background-image: url();
        height: auto;
    }

    .main-head {
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        /* or 36px */

        text-align: center;
        letter-spacing: 0.03em;
    }

    .story-container {
        background-color: transparent;
        padding: 0px 10px;
        border: none;
        border-radius: 0px;
    }

    .red-container {
        font-weight: 700;
        font-size: 60px;
        line-height: 150%;   
    }

    .main-head-hero {
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        /* or 36px */
        color: #333333;
        text-align: center;
        letter-spacing: 0.03em;
        color: white;
        -webkit-text-stroke: 2px black;
    }

    .main-sub-head {
        text-align: center;
    }

    .main-text {
        font-weight: 600;
        font-size: 24px;
        line-height: 180%;
        color: #333333;
    }

    .section-margin {
        margin-top: 20px;
    }

    .review-container {
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgb(17 17 17 / 4%);
        border-radius: 32px;
        margin-bottom: 5px;
        padding: 24px;
        width: 100%;
    }

    .secondary-footer {
        padding: 0px;
        background: #eeeeee;
        padding-bottom: 30px;
    }

    .primary-color {
        color: #cc0000;
    }

    .footer-links {
        padding-left: 0px;
    }

    .footer-links .links a {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000 !important;
        text-decoration: none;
    }


    .submit-btn-container{
        display: flex;
        justify-content: center;
    }

    .submit-btn {
        margin: 0 auto;
    }

    .contact-links {
        justify-content: center;
    }
}
